/* Style for all */
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
::-webkit-scrollbar {
  cursor: pointer;
  position: relative;
  z-index: 100;
  width: 0;
	height: 8px;
}

/* HTML */
html {
  // font-size: 62.5%; /* Rem unit */
  font-feature-settings: "palt";
  line-height: 1.6; /* W3C recommendation */
}
/* Reset margin, padding */
body,
h1, h2, h3, h4, h5, h6,
p, hr, pre, blockquote, ol, ul, menu, dl, dd, figure, 
form, input, button, select, option, textarea, fieldset, legend {
  margin: 0;
  padding: 0;
}

/* Reset list */
li {
  list-style-type: none;
}
ol {
  counter-reset: item;
  li:before { 
		content: counters( item, "." ); 
		counter-increment: item;
	}
}

/* Reset image */
img {
  vertical-align: top;
  max-width: 100%;
}
figure {
  img {
    display: block;
    width: 100%;
  }
}

/* Reset color */
mark,
a,
input, button, select, textarea {
  color: inherit;
  background: transparent;
}

/* Reset font */
address,
h1, h2, h3, h4, h5, h6,
pre, code, var, samp, kbd,
input, button, select, textarea {
  font: inherit;
}

/* Reset underline */
s, abbr, u,
a,
ins, del {
  text-decoration: none;
  &:hover {
    img {
      opacity: .9;
    }
  }
}

/* Reset border */
iframe,
input, button, select, textarea, fieldset {
  border: inherit;
  border-radius: 0;
  border: 1px solid;
}

/* Reset table */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, button {
  cursor: pointer;
}