/// ------------------------------
/// @name Color
/// @alias clr
/// ------------------------------

/* Color Palette */
$clrPrimaryDark: #6659ff;
$clrPrimaryLight: #dbe4ff;
$clrSecondaryDark: #5e81ac;
$clrSecondaryLight: #f5f8fb;
$clrSuccessDark: #0ca678;
$clrSuccessLight: #96f2d7;
// $clrDangerDark: #ff4c91;
$clrDangerDark: #f03e3e;
// $clrDangerLight: #ffdeeb;
$clrDangerLight: #ffa8a8;
$clrWarningDark: #f59f00;
$clrWarningLight: #fff3bf;
$clrInfoDark: #228be6;
$clrInfoLight: #d0ebff;
$clrMutedDark: #868e96;
$clrMutedLight: #dee2e6;
// $clrDefaultDark: #040849;
$clrDefaultDark: #000000;
$clrDefaultLight: #ffffff;
